@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

body {
	width: 100%;
	height: 100%;
	margin: 10px auto;
	font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-shadow: 1px 1px 1px #DCDCDC;
	text-align: center;
}

.mainContent {
	width: 80%;
	text-align: justify;
	display: inline-block;
}

.hide {
	display: none;
}

.show {
	display: block;
}

.clearDiv {
	clear: both;
	line-height: 1px;
	height: 1px;
}

input,
textarea,
label {
	margin: 0px;
	float: left;
	display: inline-block;
	width: auto;
}

