a, abbr, acronym, address, applet, article, aside, audio,
b, blockquote, big, body,
center, canvas, caption, cite, code, command,
datalist, dd, del, details, dfn, dl, div, dt, 
em, embed,
fieldset, figcaption, figure, font, footer, form, 
h1, h2, h3, h4, h5, h6, header, hgroup, html,
i, iframe, img, ins,
kbd, 
keygen,
label, legend, li, 
meter,
nav,
object, ol, output,
p, pre, progress,
q, 
s, samp, section, small, span, source, strike, strong, sub, sup,
table, tbody, tfoot, thead, th, tr, tdvideo, tt,
u, ul, 
var{
    background: transparent;
    border: 0 none;
    font-size: 100%;
    margin: 0;
		padding: 0;
		border: 0;
		outline: 0;
    vertical-align: top; }

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
table, table td { 
	padding:0;
	border:none;
	border-collapse:collapse;
}
img {
	vertical-align:top; 
}
embed { 
	vertical-align:top;
}
* { border:none}
/*********************** [contact form] *************************/

.form { float:left; width:460px; margin:25px 0 5px 0px; padding:10px; background:#fff; border:1px solid #e1e1e1;}
#contactform { margin:0; padding:5px 10px;}
#contactform * { color:#7a7a7a;}
#contactform ol { margin:0; padding:0; list-style:none;}
#contactform li { margin:0; padding:0; background:none; border:none; display:block;}
#contactform li.buttons { margin:5px 0 5px 0;}
#contactform label { float:left; margin:0; width:150px; padding:5px 0; font:bold 12px Arial, Helvetica, sans-serif; color:#747474; text-transform:capitalize;}
#contactform label span { font:normal 10px Arial, Helvetica, sans-serif;}
#contactform input.text { width:270px; border:1px solid #cecece; margin:5px 0; padding:5px 2px; height:15px; background:#f5f5f5;}
#contactform textarea { width:270px; border:1px solid #cecece; margin:10px 0; padding:2px; background:#f5f5f5; height:100px;}
#contactform li.buttons input {float:left; padding:3px 0; margin:0 0 0 0px; border:1px solid #ccc; width:60px; background:#f5f5f5; cursor: pointer; font-weight:bold; color:#000;}
#contactform li.button input { float:left; padding:3px 0; margin:0 0px 0 152px; border:1px solid #ccc; width:60px; background:#f5f5f5; cursor: pointer; font-weight:bold; color:#000;}
